<h2 class="page-header">Search Items</h2>
<form action="/items" method="GET">
  <div class="form-row">
    <div class="form-item">
      <label>Name</label>
      <input type="text" name="name" value="<%= searchOptions.name %>">
    </div>
  </div>
  <div class="form-row form-row-end">
    <button class="btn btn-primary" type="submit">Search</button>
  </div>
</form>
<br>
<% items.forEach(item => { %>
  <div class="item-row">
    <div class="item-name"><%= item.name %></div>
    <div class="btn-row">
      <a class="btn btn-primary" href="/items/<%= item.id %>">View</a>
      <a class="btn btn-primary" href="/items/<%= item.id %>/edit">Edit</a>
      <%- include('../partials/deleteForm',
                  { url: `/items/${item.id}` }) %>
    </div>
  </div>
<% }) %>